<div class="" style ="background-color: rgb(170, 200, 236);">
        <div>
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
               
                  <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-shopping-cart_90604.png"height="100"width="100">
              
                <a class="navbar-brand" href="#">
                  <h2 style="color:rgb(230, 64, 14);" >Sports-shop</h2></a>
              </div>
              <ul class="nav navbar-nav">
                <li class= "tabName === 'USER_MNG' ? 'active' : 'inactive'" (click)="handleTabChange('USER_MNG')">
                  <a href="#"><h4> User Management</h4>
                  </a>
                  </li>
                  <li class= "tabName === 'ITEM_MNG' ? 'active' : 'inactive'">
                  <a href="#" (click)="handleTabChange('ITEM_MNG')"><h4>Item Management</h4></a></li>
              </ul>
            </div>
          </nav>
        </div>

        <div *ngIf="tabName === 'USER_MNG'">
          <user-list></user-list>
        </div>
        <div *ngIf="tabName === 'ITEM_MNG'">
          <item-list></item-list>
        </div>
      
  </div>