<h1 class="display-4 text-center">Item Management</h1>
<hr>
<div *ngIf="!showModal">
    <button (click)="toggleModal()" class="btn btn-secondary">Add Item</button>
<table  border="1" align='center' width="50"  >  
    <thead >  
      <tr>  
        <th scope="col">product_name</th>  
        <th scope="col">colour</th>  
        <th scope="col">product_prize</th>  
        <th scope="col" >product_sender </th>  
        <th scope="col">product_specification</th>  
      </tr>  
    </thead>  
    <tbody>  
            <tr *ngFor="let p of items"> 
              <td>{{p.product_name}}</td>     
              <td>{{p.colour}}</td>   
              <td>{{p.product_prize}}</td>   
              <td>{{p.product_sender}}</td>
              <td>{{p.product_specification}}</td>
              <button (click)="onRemove(p.productId)" class="btn btn-success btn-sm">Remove</button>
                <button  class="btn btn-success btn-sm" (click)="updateItemHandler(p.productId)">Update Item</button>
                <td> <img src="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?cs=srgb&dl=pexels-pixabay-39284.jpg&fm=jpg" width="150" height="150" > </td>   
              </tr>
              <tr>  
    </tbody>  
</table>  
</div>
<div *ngIf="showModal" class="row container-fluid"  id="divshow" >
    
        <input type="hidden" name="PMId" [value]="service.formData.PMId">
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">Item Name</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.product_name" class="form-control"
                placeholder="Item Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">Color</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.colour" class="form-control"
                placeholder="Item Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">Prize</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.product_prize" class="form-control"
                placeholder="Item Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">Sender Name</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.product_sender" class="form-control"
                placeholder="Item Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">product_specification</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.product_specification" class="form-control"
                placeholder="Item Name" required>
            </div>
        </div>
        <div class="form-group">
            <button  class="btn btn-success btn-lg btn-block" (click)="toggleModal()">Cancel</button>
            <button class="btn btn-success btn-lg btn-block"  (click)="submitForm()"><i class="fas fa-database"></i> Submit</button>
        </div>
</div>
