<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Signup</h1>
          <h6>Register yourself!</h6>
        </div>
        <form>
          <form>
            <div class="mb-3">
              <label for="exampleInputFullName" class="form-label">Full name</label>
              <input type="text" class="form-control" id="exampleInputFullName">

            </div>
            <div class="mb-3">
              <label for="exampleInputnumber" class="form-label">Mobile number</label>
              <input type="number" class="form-control" id="exampleInputnumber">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <a class=button  style="color: #fff;margin-top: 10px" class="btn btn-primary" routerLink="/item-management"> Sign up</a>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
