<h3 class="display-4 text-center">User Management</h3>
<hr>
<div *ngIf="!showModal && !isViewUserOrder">
<table  border="1" align='center' width="50"  >  
    <thead >  
      <tr>  
        <th scope="col">customer_firstname</th>  
        <th scope="col">customer_lastname</th>  
        <th scope="col">customer_phoneNo</th>  
        <th scope="col" >customer_email </th>  
        <th scope="col">customer_location</th> 
        <th scope="col">customer_state</th>
      </tr>  
    </thead>  
    <tbody>  
            <tr *ngFor="let p of data"> 
              <td>{{p.customer_firstname}}</td>     
              <td>{{p.customer_lastname}}</td>   
              <td>{{p.customer_phoneNo}}</td>   
              <td>{{p.customer_email}}</td>
              <td>{{p.customer_location}}</td>
              <td>{{p.customer_state}}</td>
              <button (click)="onRemove(p.customerId)" class="btn btn-success btn-sm  mx-4 my-4">Remove User</button>
                <button  class="btn btn-success btn-sm  mx-4 my-4" (click)="updateItemHandler(p.customerId)">Update User</button>
                <button  class="btn btn-success btn-sm  mx-4 my-4" (click)="viewUserOrder(p.customerId)">View User Orders</button>
               </tr>
              <tr>  
    </tbody>  
</table>  
</div>
<div *ngIf="showModal && !isViewUserOrder" class="row container-fluid"  id="divshow" >
        <input type="hidden" name="PMId" [value]="service.formData.PMId">
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.customer_firstname" class="form-control"
                placeholder="First Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">Last Name</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.customer_lastname" class="form-control"
                placeholder="Last Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">Phone Number</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.customer_phoneNo" class="form-control"
                placeholder="Phone Number" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">Email</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.customer_email" class="form-control"
                placeholder="Email" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">Location</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.customer_location" class="form-control"
                placeholder="Location" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <label for="exampleFormControlInput1">State</label>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.customer_state" class="form-control"
                placeholder="State" required>
            </div>
        </div>
        <div class="form-group">
            <button  class="btn btn-success btn-lg btn-block" (click)="toggleModal()">Cancel</button>
            <button class="btn btn-success btn-lg btn-block"  (click)="submitForm()"><i class="fas fa-database"></i> Submit</button>
        </div>
</div>
<div *ngIf="isViewUserOrder">
    <order-list [userId]="userId"></order-list>
</div>